/* .body {
    background-color: #DADADA;
    min-width: 320px;
    min-height: 100vh;
    letter-spacing: 1px;
    padding: 0 20px 30px 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} */

.logo {
    margin: 20px;
    margin-right: auto;
}

.upcomingEventTitel {
    margin-bottom: 20px;
    padding: 0 10px;
    font-family: InterMedium;
    font-size: 18px;
}
.locationSelection {
    margin-right: 100px;
    margin-top: 0;
    border-style: none;
    font-size: 12px;
    font-family: InterThin;
    color: #5D3EDE;
}

.event-list-container {
    /* width: 320px;
    height: 350px; */

}

.scrollEvents {
    border: 2px solid red;
    width: 320px;
    height: 150px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll; 
    align-items: flex-start;
    white-space: nowrap; 
}

.scrollAllEvents {
    border: 2px solid turquoise;
    /* width: 320px;
    height: auto; */
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
    overflow-y: scroll; 
    align-items: flex-start;

}


/* je card */

.event-item-container {
    margin-right: 1rem;
    width: 220px;
    height: 165px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(93, 62, 222, 0.1);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
    padding: 3px 10px;
}
.event-item-container img {
    width: 100%;
    height: 55%;
    display: block; 
    border-radius: 10px;
    margin-bottom: 3px;
}

.event-item-container-item , .all-event-item-container{
    font-family: InterMedium;
    width: 100%;
}
.event-item-container-item h1 , .all-event-item-container h1{
    font-size: 13px;
    color: pink;
}
.event-item-container-item h2 , .all-event-item-container h2{
    font-size: 13px;
}
.locationContainer {
    display: flex;
    gap: 10px;
}
.locationContainer img{
    width:80px;
    height: 100%;
}
.locationContainer .mapPin  {
    width: 10px;
    height: 100%;
}

.all-events-item-container{
    max-width: 100%;
    background-color: red;
}


/* nearby */

.nearbyEventTitel {
    font-family: InterMedium;
    font-size: 18px;
}
.nearbyContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 10px 0px 10px;
    margin-bottom: 20px;
    gap: 9em;
}
.nearbyContainer p {
    font-size: 15px;
    font-family: InterThin;
}

/* allEvents */
.allEventsTitel h2{
    margin-bottom: 20px;
    padding:  10px;
    font-family: InterMedium;
    font-size: 18px;
}

.all-event-item-container {
    width: 320px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.all-event-item-container img {
    width: 100px;
    height: 100%;
    border-radius: 10px;
}

.eventInfo {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding: 15px;
    gap: 15px;
}

.all-event-item-container h2:nth-child(1) {
    color: #668BE9;
}