.login-container {
  min-width: 375px;
  flex-grow: 1;
  height: 10px;
  padding: 1rem;
}

.logoHeader {
  display: flex;
  justify-content: center;
  padding-top: 7vh;
  padding-bottom: 3vh;
}

.login-form {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.login-form h2 {
  font-family: InterMedium;
  font-size: 24px;
  color: #120d26;
}

.loginInputField {
  display: flex;
  justify-content: space-between;
  border-style: none;
  box-shadow: 0px 4px 10px rgba(93, 62, 222, 0.1);
  height: 3rem;
  border-radius: 10px;
}

.login-field {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-style: none;
  box-shadow: 0px 4px 10px rgba(93, 62, 222, 0.1);
  height: 3rem;
  border-radius: 10px;
}
.password-input {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.password-input input {

}
.password-input input::placeholder {
  color: #a6a6a6;
}

.login-field input::placeholder {
  color: #a6a6a6;
}

.loginInputField input,
.login-field input {
  border: none;

}
.loginInputField button {
  background-color: transparent;
  border: none;
}



.account-container {
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 10px;
  color: white;
  font-family: InterMedium;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #5d3ede;
  height: 3rem;
  width: 17rem;
  gap: 10px;
  position: relative;
  cursor: pointer;
}
.loginButton img {
  position: absolute;
  right: 1rem;
  height: auto;
  border: none;
}

.reset-password-container h3 {
  font-family: InterThin;
  font-size: 15px;
  color: #120d26a4;
  text-align: center;
}

h3 span {
  color: #5e3ede97;
}

.reset-password-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: InterThin;
  font-size: 15px;
  color: #120d26;
  text-align: center;
}
