.login-container {
  min-width: 375px;
  flex-grow: 1;
  height: 10px;
  padding: 1rem;
}

.logoHeader {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.login-form {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.login-form h2 {
  font-family: InterMedium;
  font-size: 24px;
  color: #120d26;
  margin-bottom: 1rem;
}

.email-input {
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 1rem;
  padding: 0 1rem;
  box-shadow: 0px 4px 10px rgba(93, 62, 222, 0.1);
}

.email-input input {
  border-style: none;
  width: 100%;
}

.password-container {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(93, 62, 222, 0.1);
}
.password-container .password-elements {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.password-container .password-elements input {
  border-style: none;
}

.password-container button {
  border: none;
  background-color: transparent;
}

.password-elements input::placeholder {
  color: #a6a6a6;
}

.email-input input::placeholder {
  color: #a6a6a6;
}

.account-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 10px;
  color: white;
  font-family: InterMedium;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #5d3ede;
  height: 3rem;
  width: 17rem;
  gap: 10px;
  position: relative;
  cursor: pointer;
}
.loginButton img {
  position: absolute;
  right: 1rem;
  height: auto;
  border: none;
}

.reset-password-container h3 {
  font-family: InterThin;
  font-size: 15px;
  color: #120d26a4;
  text-align: center;
}

.account-container h3 span {
  color: #5e3ede97;
}

.reset-password-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: InterThin;
  font-size: 15px;
  color: #120d26;
  text-align: center;
}
