.footer-container {
    height: 67px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: white;
}
.add-event-button {
    width: 46px;
    height: 46px;
    position: absolute;
    top:-23px;
}

.add-event-button img{
    position: relative;
    top: -12px;
    left: -20px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    min-width: 320px;
}


