.loading-screen-wrapper{
        display: flex;
        width: 100%;
        flex-grow: 1;
        flex-direction: column;
        font-family: InterThin;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, rgba(135,106,253,1) 22%, rgba(0,236,170,1) 100%);
}

.loading-logo-wrapper{
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-family: InterRegular;
    font-weight: bold;
    gap: 0.1em;
    margin-bottom: 1em;
}

.loading-logo-wrapper img{
  height: 80%;
}

.loading-logo-text-first{
  color: #5D3EDE;
}

.loading-logo-text-scnd{
  color: #00ECAA;
}


.container {
  --uib-size: 200px;
  --uib-color: #fff;
  --uib-speed: 1.2s;
  --uib-bg-opacity: .1;
  height: 60.25px;
  width: 200px;
  transform-origin: center;
  overflow: visible;
}

.car {
  stroke: var(--uib-color);
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation:
    travel var(--uib-speed) ease-in-out infinite,
    fade var(--uib-speed) ease-out infinite;
  will-change: stroke-dasharray, stroke-dashoffset;
  transition: stroke 0.2s ease;
}

.track {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--uib-color);
  opacity: var(--uib-bg-opacity);
}

@keyframes travel {
  0% {
    stroke-dashoffset: 100;
  }

  75% {
    stroke-dashoffset: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  20%,
  55% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}