:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: InterRegular;
  src: url(./assets/Fonts/Inter_18pt-Regular.ttf);
}
@font-face {
  font-family: InterMedium;
  src: url(./assets/Fonts/Inter_18pt-Medium.ttf);
}
@font-face {
  font-family: InterThin;
  src: url(./assets/Fonts/Inter_18pt-Thin.ttf);
}

body {
  min-width: 375px;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;  
}

a {
  text-decoration: none;
  color: black;
}

