.add-event-container {
  min-width: 375px;
  flex-grow: 1;
  letter-spacing: 1px;
  padding: 1rem;
  background-color: #fff;
  overflow: scroll;
  margin-bottom: 1rem;
  padding-bottom: 80px;
}

.add-event-container h2 {
  font-family: "InterMedium";
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -2.25em;
}
.add-event-container h2 span {
  color: #00ecaa;
}

.input-image::file-selector-button {
  background-color: transparent;
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
}

.upload-image-container {
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.signup-form svg path {
  fill: #fff;
}

.signup-form svg {
  z-index: 10;
  margin-left: 1rem;
}

.upload-image-container {
  margin-top: -53px;
}

.add-event-container input,
.add-event-container select,
.add-event-container textarea {
  border: none;
  background-color: transparent;
  font-family: InterMedium;
}

.addevent-input,
input[type="date"],
input[type="time"] {
  background-color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  
  font-family: InterMedium;
  color: gray;
}

.addevent-input {
  box-shadow: 0px 8px 30px 0px rgba(93, 61, 222, 0.05);
}
.text-input {
  align-self: start;
}

.addevent-input select {
  font-family: InterMedium;
  color: gray;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"].event-start-time::before {
  content: "Start";
}

input[type="time"].event-end-time::before {
  content: "End";
}

.date-container {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 30px 0px rgba(93, 61, 222, 0.05);
}

.add-event-container button,
.add-event-container input::file-selector-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-style: none;
  border-radius: 10px;
  color: white;
  font-family: InterMedium;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #5d3ede;
  height: 3rem;
  width: 17rem;
  gap: 10px;
  padding: 1em 1rem;
  position: relative;
}

.input-image {
  display: none;
}

.custom-file-image {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: auto;
  border-style: none;
  border-radius: 10px;
  color: white;
  font-family: InterMedium;
  font-size: 13.3px;
  background-color: #5d3ede;
  height: 3rem;
  width: 17rem;
  gap: 1rem;
  box-shadow: 0px 8px 30px 0px rgba(93, 61, 222, 0.05);
  margin-top: 2rem;
  cursor: pointer;
  width: 100%;

}

.addevent-input img {
  align-self: self-start;
}

.text-area {
  width: 100%;
}

.dates-input h1 {
  font-size: 0.83rem;
  font-weight: 100;
  color: rgb(116, 116, 116);
}
.dates-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding-left: 1rem;
  border-radius: 10px;
  box-shadow: 0px 8px 30px 0px rgba(93, 61, 222, 0.05);
  
}

input:focus, textarea {
 outline: none;
}

.add-event-container .add-event-header button {
  position: relative;
  padding: 0.5em;
  margin: 1em;
  cursor: pointer;
  border: none;
  padding: 0.25em;
  margin: 1em;
  background-color: transparent;
  border: none;
  width: 20px;
}
